<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Horse_0</key>
	<dict>
		<key>en</key>
		<string>Horse</string>
		<key>it</key>
		<string>Horse</string>
		<key>es</key>
		<string>Horse</string>
	</dict>
	<key>Horse_1</key>
	<dict>
		<key>en</key>
		<string>Horse</string>
		<key>it</key>
		<string>Horse</string>
		<key>es</key>
		<string>Horse</string>
	</dict>
	<key>Horse_2</key>
	<dict>
		<key>en</key>
		<string>Horse</string>
		<key>it</key>
		<string>Horse</string>
		<key>es</key>
		<string>Horse</string>
	</dict>
	<key>Horse_3</key>
	<dict>
		<key>en</key>
		<string>Horse</string>
		<key>it</key>
		<string>Horse</string>
		<key>es</key>
		<string>Horse</string>
	</dict>
	<key>Horse_4</key>
	<dict>
		<key>en</key>
		<string>Horse</string>
		<key>it</key>
		<string>Horse</string>
		<key>es</key>
		<string>Horse</string>
	</dict>
	<key>Horse_5</key>
	<dict>
		<key>en</key>
		<string>Horse</string>
		<key>it</key>
		<string>Horse</string>
		<key>es</key>
		<string>Horse</string>
	</dict>
	<key>Horse_6</key>
	<dict>
		<key>en</key>
		<string>Horse</string>
		<key>it</key>
		<string>Horse</string>
		<key>es</key>
		<string>Horse</string>
	</dict>
	<key>Horse_7</key>
	<dict>
		<key>en</key>
		<string>Horse</string>
		<key>it</key>
		<string>Horse</string>
		<key>es</key>
		<string>Horse</string>
	</dict>
	<key>Horse_8</key>
	<dict>
		<key>en</key>
		<string>Horse</string>
		<key>it</key>
		<string>Horse</string>
		<key>es</key>
		<string>Horse</string>
	</dict>
	<key>Horse_9</key>
	<dict>
		<key>en</key>
		<string>Horse</string>
		<key>it</key>
		<string>Horse</string>
		<key>es</key>
		<string>Horse</string>
	</dict>
	<key>Horse_10</key>
	<dict>
		<key>en</key>
		<string>Horse</string>
		<key>it</key>
		<string>Horse</string>
		<key>es</key>
		<string>Horse</string>
	</dict>
	<key>Horse_11</key>
	<dict>
		<key>en</key>
		<string>Horse</string>
		<key>it</key>
		<string>Horse</string>
		<key>es</key>
		<string>Horse</string>
	</dict>
	<key>Horse_12</key>
	<dict>
		<key>en</key>
		<string>Horse</string>
		<key>it</key>
		<string>Horse</string>
		<key>es</key>
		<string>Horse</string>
	</dict>
</dict>
</plist>
